.product    {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.productImage    {
    width: 65px;
}

.productIdentifier    {
    background-color: aliceblue;
    border-radius: 5px;
    padding: 2px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    width: 25px;
}

.productPrice   {
    background-color: aliceblue;
    border-radius: 5px;
    padding: 2px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    width: 45px;
}