#header {
  margin-top: 40px;
}

#vendingMachine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 20px;
}

#machineUpperPart {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

#machineBody {
  background-color: #adc5fc;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 450px;
  height: 600px;
  padding: 20px;
}

#evacuation {
  background-color: #000026;
  height: 40px;
  width: 100px;
}

#machineInstructions {
  background-color: #00009e;
  border-radius: 5px;
  color: rgb(253, 253, 253);
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: bold;
  width: 105px;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 5px;
  text-align: center;
  text-transform: uppercase;
}

#machineControls {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 25px;
  margin-top: 20px;
}

#productOutput {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  width: 100px;
  height: 140px;
  display: flex;
}

#machineGlass {
  align-items: center;
  background-color: rgba(104, 104, 104, 0.367);
  border: 2px solid #ccc;
  border-radius: 10px;
  flex-wrap: wrap;
  display: flex;
  gap: 40px;
  flex-direction: row;
  justify-content: space-evenly;
  width: 65%;
  height: 80%;
  margin-left: 20px;
  margin-top: 20px;
  padding: 40px;
  z-index: 1;
}

#buttonsArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

#moneyBills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#balance {
  background-color: #003e0f;
  font-size: 12px;
  color: lime;
  font-weight: bold;
  width: 105px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 5px;
}

#extraction {
  background-color: #94f039;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  padding: 5px;
  transition: 0.3s;
}

#extraction:hover {
  background-color: #ceff8d;
}

#selectedProduct {
  background-color: #003e0f;
  font-size: 12px;
  color: lime;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: bold;
  width: 105px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 5px;
  text-align: center;
}

.text {
  margin: 0;
  padding: 0;
}

.product {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

/* Create an animation of the product dropping down from the machine */
#boughtProduct {
  cursor: pointer;
  height: 90px;
  width: 90px;
  animation: drop 0.5s ease-in-out forwards;
  transition: 0.3s;
}

@keyframes drop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
