

.Doritos {
  width: 7%;
  height: auto;
  object-fit: contain;
  position: absolute;  /* Posiciona a imagem de forma absoluta */
  top: 30%;            /* Coloca a imagem no meio da tela */
  left: 92%;           /* Coloca a imagem no meio da tela */
  transform: translate(-50%, -50%); /* Ajusta a posição para centralizar a imagem */
}